# Application Configuration
APP_NAME="Inventory & Order Management System"
ENV=dev
PORT=8000
HOST=0.0.0.0

# Local PostgreSQL Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_db

# SQLAlchemy Async Connection string (pointing to 'db' service inside docker network)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/inventory_db
